<div id="fb-root"></div>

<section id="OnsideApp">

	<section class="page" id="listGroups">
		<header class="bb">
			<h1>Onside</h1>
		</header>
		<div class="contentWrapper" id="groupContentWrap">
			<div class="scroller">
				<div id="navSearch" class="bb">
					<form action="/search">
						<input class="formEl" id="groupSearch" type="search" placeholder="search" name="q" value="" />
					</form>
				</div>

				<div id="navGlobal">
					<% if (everyauth.loggedIn) { %>
					<a class="toggleBlock bb user" href="#navUser">
						<% if(user.avatar){ %><img class="avatar" src="<%= user.avatar %>" /><% } else { %><span class="icon user"></span><% } %>
						<% if(user.name){ %><%= user.name %><% } else { %>name required<% } %>
						
					</a>
					<div id="navUser" class="block">
						<a class="settings bb" href="#/settings"><span class="icon settings"></span>Your settings</a>
						<% if (user.admin === '1') { %>
						<a class="cms bb" href="/cms"><span class="icon cms"></span>CMS</a>
						<% } %>
						<a class="logout bb" href="/logout"><span class="icon login"></span>Sign out</a>
					</div>
					<a class="bb" href="#list/home"><span class="icon home"></span>Home</a>
					<a class="bb" href="#static/help"><span class="icon assist"></span>Help</a>
					<a class="bb" href="#list/popular"><span class="icon save"></span>Popular channels</a>
					<!--a class="bb" href="/"><span class="icon events"></span>All Events</a>
					<a class="bb" href="/"><span class="icon save"></span>Saved Items</a-->

					<% } else { %>
					<a class="toggleBlock bb" href="#navUser"><span class="icon login"></span>Sign In</a>
					<div id="navUser" class="block">
						<a class="bb" href='/register'><span class="icon login"></span>Register</a>
						<!--a href='/login'>Login with Password</a-->
						<a class="bb" class="fb_button_medium" href='/auth/facebook'><!--span id="fb_login_text" class="fb_button_text"--><span class="icon facebook"></span>Sign in with Facebook</a>
						<a class="bb" href='/auth/twitter'><!--img src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png' /--><span class="icon twitter"></span>Sign in with twitter</a>
						<a class="bb" href='/auth/google'><span class="icon google"></span>Sign in with google</a>
					</div>
					<a class="bb" href="#/help"><span class="icon assist"></span>Help</a>
					<article class="help">
						<span class="icon think"></span>
						<h2>Your Channels</h2>
						<p>Please login to view your content.</p>
					</article>
					<% } %>

				</div>

				<section class="content"></section>
			</div><!-- /.scroller -->
		</div><!-- /.contentWrapper -->
		<footer>
			<nav>
				<a class="icon channels" href="#">your channels</a>
				<a class="icon events" href="#">your events</a>
			</nav>
		</footer>
	</section><!-- /#listGroups -->

	<div id="main" role='main'>
		<section id="appNav">
			<nav>
				<a class="show channels icon" href="#channels">show channels</a>
				<a class="show comments icon" href="#comments">show comments</a>
				<!--a class="show events icon" href="#events">show events</a-->
				<a class="show search icon triggerSearch" href="#search">show search</a>
				<a class="show feedback btn triggerFeedback" href="#feedback">feedback</a>
			</nav>
		</section>

		<section class="page" id="listDetail"></section>
		
	</div>
	<section class="page" id="listArticle"></section>
	
	<section class="page" id="listChat">
		<header class="bb">
			<h1>Comment @ <em></em><span class="icon comment"></span></h1>
		</header>
		<div class="contentWrapper" id="chatContentWrap">
			<div class="scroller">
		 		<section class="content" id="onsideComments">
					<form action="/">
						<% if(everyauth.loggedIn) { %>
						<input class="forAuth formEl comment" id="commentAdd" type="text" placeholder="add your comment" name="comment" />
						<% } else { %>
						<p class="forUnAuth">You need to <a class="requireLogin" href="#login">login</a> to post comments</p>
						<% } %>
					</form>
					<div class="inner"></div>
		 		</section>
		 		<section class="content" id="facebookComments"><div class="inner"></div></section><!-- /#facebookComments -->
		 		<section class="content" id="twitterComments">
					<form action="/">
						<% if(!everyauth.loggedIn) { %>
							<p class="forUnAuth">You need to be logged in and have <a class="requireLogin" href="#login">twitter associated</a> to your account</a> to post tweets</p>
						<% } else if(everyauth.loggedIn && everyauth.user.twitter) { %>
							<textarea class="forAuth formEl comment" id="tweetAdd" type="text" placeholder="tweet your comment" name="tweet"></textarea>
							<button type="submit">tweet now</button>
						<% }%>
					</form>
					<div class="inner"></div>
		 		</section>
		 		<!--section class="content" id="googleComments"><div class="inner"></div></section-->
		 	</div><!-- /.scroller -->
		</div><!-- /.contentWrapper -->

		<footer>
			<nav>
				<a class="icon facebook" href="#facebookComments">facebook</a>
				<a class="icon twitter" href="#twitterComments">twitter</a>
				<!--a class="icon google" href="#googleComments">G+</a-->
				<a class="icon onside" href="#onsideComments">onside</a>
			</nav>
		</footer>
	</section>
</section><!-- /#OnsideApp -->

<%- partial('partials/app.articleDetail.ejs') %>
<%- partial('partials/app.articles.ejs') %>
<%- partial('partials/app.forms.ejs') %>
<%- partial('partials/app.general.ejs') %>
<%- partial('partials/app.helpers.ejs') %>
<%- partial('partials/app.static.ejs') %>

<%
var cleanUser = false, facebookUser = false, twitterUser = false;
if(user) {
	cleanUser = user;
	//delete cleanUser.password;
	//delete cleanUser.admin;
	//delete cleanUser.email;
	//delete cleanUser.enabled;

	if(cleanUser.twitter && cleanUser.twitter.length >= 2 && everyauth.twitter && everyauth.twitter.user) twitterUser = JSON.stringify(everyauth.twitter.user);
	if(cleanUser.facebook && cleanUser.facebook.length >= 2 && everyauth.facebook && everyauth.facebook.user) facebookUser = JSON.stringify(everyauth.facebook.user);
}
%>

<script type="text/javascript">
var on = window.on || {};
on.preload = {};
on.preload.user		= <%- JSON.stringify(cleanUser) %>;
on.preload.twitter	= <%- twitterUser %>;
on.preload.facebook	= <%- facebookUser %>;
on.preload.auth		= <% if(everyauth.loggedIn) { %> <%- everyauth.loggedIn %> <% } else { %>false<% } %>;
on.preload.channels	= <% if(data.channels) { %> <%- data.channels %> <% } else { %>false<% } %>;
on.preload.popular	= <% if(data.popular) { %> <%- data.popular %> <% } else { %>false<% } %>;
on.preload.events	= <% if(data.events) { %><%- data.events %><% } else { %>''<% } %>;
on.preload.searches	= <% if(data.searches) { %><%- data.searches %><% } else { %>false<% } %>;
on.preload.path		= <% if(data.sessionPath) { %> <%- data.sessionPath %> <% } else { %>false<% } %>;
</script>

